$layout-breakpoint-small: 725px;

@import "variables";
@import "mixins";
@import "keyframes";

.App {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 1rem;
}

.title {
	color: white;
	font-weight: 300;
	font-size: xxx-large;
	margin: 3.5rem;
}

.subheading {
	color: white;
	font-size: x-large;
	font-weight: 300;
	margin-top: 3rem;
	margin-bottom: 2.5rem;
}

.text {
	color: $text-blue;
	font-size: small;
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 600;
}

.loader {
	@include flex-center;
	height: 100vh;
}

.options-picker {
	display: flex;
	position: relative;
	width: 500px;
	border-radius: 25px;
	background-color: black;
	overflow: hidden;
	cursor: pointer;
	@include box-shadow($border-blue);

	.option {
		flex: 1;
		text-align: center;
		padding: 12px;
		z-index: 1;
		color: $title-blue;
		transition: color 0.3s;
		font-size: large;

		&.selected {
			color: white;
		}
	}

	.slider {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 50%;
		background-color: $title-blue;
		border-radius: 25px;
		transition: transform 0.6s;
		z-index: 0;

		&.customer {
			transform: translateX(0%);
		}

		&.admin {
			transform: translateX(100%);
		}
	}
}

.login-input-feild,
.input-feild,
.text-area {
	padding: 1.2rem;
	margin: 0.5rem;
	border: none;
	border-radius: 1rem;
	@include box-shadow($border-blue);
}

.login-input-feild {
	width: 20rem;
}

.input-feild {
	width: 40rem;

	&::placeholder {
		color: white;
	}
}

.text-area {
	width: 40rem;
	height: 10rem;

	&::placeholder {
		color: white;
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	}
}

.flex-parent-container,
.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-form {
	height: auto;
}

.link {
	text-decoration: underline;
	margin-top: 1rem;
}

.list-container {
	border-radius: 0.5rem;
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
	background: #121212;

	&.admin-list {
		margin-top: 10rem;
	}
}

.heading-wrapper {
	background: #242424;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	.admin-panel-heading {
		align-items: center;
		background: #121212;
		border-radius: 0.5rem;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
		color: white;
		display: flex;
		flex-direction: column;
		font-size: x-large;
		font-weight: 300;
		height: auto;
		justify-content: flex-start;
		padding: 2rem 0;
		width: 80%;
		margin-bottom: 0;
	}
}

.label {
	font-weight: 600;
	color: $text-blue;
	font-size: 0.8rem;
}

.ticket-list {
	width: 100%;
	margin: 0;
	padding: 0;

	.ticket,
	.summary {
		position: relative;
		border-radius: 0.5rem;
		margin: 1rem;
		background: #17181a;
		@include box-shadow($border-blue);
		padding: 1rem;
		color: white;
		list-style-type: none;
		min-width: 256px;
		& > .ticket-status {
			display: flex;
			justify-content: flex-end;
		}
		.ticket-content {
			color: white;
			font-size: 0.8rem;
			word-break: break-word;
		}
		.ticket-header {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.ticket-status {
				right: 0;
				position: absolute;
				display: flex;
				height: fit-content;
			}
		}
	}

	.summary {
		.summary-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			p {
				margin-bottom: 0;
			}
		}
	}

	.select-and-button {
		display: flex;
		flex-direction: row;
	}
	.status-editing-button {
		align-items: center;
		background-color: #121212;
		border-radius: 0.5rem;
		display: flex;
		width: 27px;
		height: 27px;
		justify-content: center;
		padding: 5px;
		margin-left: 10px;
		border: 0.5px solid #121212;
	}
	.status-editing-button:hover {
		border: 0.5px solid white;
	}
}

.reset-link {
	color: $text-blue;
	margin: 0.5rem;
	cursor: pointer;
	padding: 1rem;
	border-radius: 1rem;
}

.truncate-text {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.confirmation-dialog {
	font-size: 0.8em;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0.5rem;
}

@media (max-width: $layout-breakpoint-small) {
	.App {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.title {
		font-size: x-large;
		width: 80vw;
		text-align: center;
	}

	.subheading {
		text-align: center;
		font-size: large;
		width: 80vw;
		margin: 2vh 0;
		padding: 0;
	}

	.text {
		text-align: center;
		margin-bottom: 2vh;
		font-size: smaller;
		width: 90vw;
	}

	.options-picker {
		width: 90vw;
	}

	.login-input-feild,
	.input-feild,
	.text-area {
		width: 80vw;
		padding: 1.5vh;
		margin: 1vh;
	}

	.list-container {
		width: 100vw;
		margin: 0;
		&.admin-list {
			margin-top: 11vh;
		}
	}

	.heading-wrapper .admin-panel-heading {
		font-size: large;
		width: 90vw;
	}
}

.ticket:hover {
	@include box-shadow(white);
}

.unfold {
	padding-top: 8px;
	padding-left: 5px;
	padding-right: 5px;
	width: 20px;
	margin-right: 10px;
	border-radius: 0.5rem;
	border: 0.5px solid #121212;
}

.unfold:hover {
	border: 0.5px solid white;
}

//MODAL

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal {
	background-color: rgb(36, 36, 36);
	padding: 20px;
	width: 40vw;
	height: 20vh;
	overflow-y: auto;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	position: relative;
}
.confirmation-dialog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.confirmation-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.modal-content {
	padding: 20px;
	font-size: 1.2em;
}

.ticket-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.ticket-page-content {
	display: flex;
	flex-direction: column;
	width: 90vw;
	height: 80vh;
	background: #17181a;
	@include box-shadow($border-blue);
	padding: 1rem;
	border-radius: 1rem;
	overflow-x: scroll;
}

.ticket-status .select-and-button {
	display: flex;
	.status-editing-button {
		margin-left: 10px;
		align-items: center;
		background-color: #121212;
		border-radius: 0.5rem;
		display: flex;
		width: 27px;
		height: 27px;
		justify-content: center;
		padding: 5px;
		border: 0.5px solid #121212;
	}
	.status-editing-button:hover {
		border: 0.5px solid white;
	}
}

.comment-text-area {
	width: 98%;
	height: 12vh;
	padding: 1rem;
}

.comment {
	margin-bottom: 18px;
	font-size: small;
	.date {
		color: $secondary-text;
		margin-top: 0;
	}
}

.comment-form {
	position: relative;

	button {
		align-items: center;
		border-radius: 50%;
		display: flex;
		height: 25px;
		width: 25px;
		justify-content: center;
		padding: 0;
		position: absolute;
		right: 0px;
		bottom: 0px;
		margin: 10px;
	}
}

.comment,
.comment-text-area {
	padding: 16px;
	background: $secondary-bg;
	border-radius: 5px;
}

.ticket-page-content-parent {
	background-color: #121212;
	padding: 1rem;
	border-radius: 1rem;
}

.ticket-content {
	color: white;
	font-size: 0.8rem;
	word-break: break-word;
}

@media (max-width: 780px) {
	.modal {
		width: 80vw;
		height: 20vh;
	}
	.confirmation-dialog {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			margin-left: 20px;
		}
	}
	.confirmation-buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.ticket-page-content-parent {
		width: 90vw;
	}
	.ticket-page-content {
		width: 82vw;
	}
	.comment-text-area {
		width: 70vw;
		button {
			margin: 10px;
		}
	}
	.ticket-list {
		.summary {
			.summary-header {
				display: flex;
				flex-direction: column-reverse;
				justify-content: start;
				align-items: start;
			}
		}
	}
}
